<nav class="navbar" id="NavBar">
    <div id="hamburger" onclick="toggleSidebar()" class="hamburger-menu">
        <i class="fas fa-bars"></i>
    </div>
    
    <div class="logo">
        <a href="/">Logo</a>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Search">
    </div>
    <div class=
    "nav-links">
        <a href="/">Home</a>
    </div>
    <div class="user-menu">
        <a href="/upload">Upload</a>
        <a href="/signup">SignIn/SignUp</a>
    </div>
</nav>