<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>
<body>
    <%- include('./partials/nav.ejs') %>

    <div id="container" class="container">

        <%- include('./partials/sidebar.ejs') %>>
        <div id="main" class="main">
            <div class="hero">
            <h1>Upload the Painting</h1>
            <form action="/paintings" method="POST" enctype="multipart/form-data">
                <div>
                  <label for="name">Image Title</label>
                  <input
                    type="text"
                    id="name"
                    placeholder="Name"
                    value=""
                    name="name"
                    required
                  />
                </div>
                <div>
                  <label for="desc">Image Description</label>
                  <textarea
                    id="desc"
                    name="desc"
                    value=""
                    rows="2"
                    placeholder="Description"
                    required
                  >
                  </textarea>
                </div>
                <div>
                  <label for="image">Upload Image</label>
                  <input type="file" id="image" name="image" value="" required />
                </div>
                <div>
                  <button type="submit">Submit</button>
                </div>
              </form>

                </div>

        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
    <script src="/js/script.js"></script>
</body>
</html>